In [1]:
# Imports
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

#### 1. Write a lambda function to rearrange positive and negative numbers in a given list
    Sample output:
    original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
    resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [2]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list = list(filter(lambda x: x>0, original_list)) + list(sorted(filter(lambda x: x<0, original_list)))

print(resulting_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

#### 2. Create a new dataframe using week_11/temperatures/temperature.csv file from last class. It should have the datetime column and one of the cities. Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [3]:
temp_df = pd.read_csv("../Week11/temperatures/temperature.csv",parse_dates=['datetime'],index_col='datetime')
seattle_temp_df = temp_df[["Seattle"]]
seattle_temp_df.head()
seattle_temp_df = seattle_temp_df.assign(is_freezing = lambda x:x<273.15)
display(seattle_temp_df.head())
seattle_temp_df["is_freezing"].value_counts()

                        Seattle  is_freezing
datetime
2012-10-01 12:00:00         NaN        False
2012-10-01 13:00:00  281.800000        False
2012-10-01 14:00:00  281.797217        False
2012-10-01 15:00:00  281.789833        False
2012-10-01 16:00:00  281.782449        False

False    43919
True      1334
Name: is_freezing, dtype: int64

The above code which uses lambda function took 3.8 seconds to run

In [4]:
vancouver_temp_df = temp_df[["Vancouver"]]
vancouver_temp_df['is_freezing'] = [True if x <273.15 else False for x in vancouver_temp_df['Vancouver']]
display(vancouver_temp_df.head())
vancouver_temp_df['is_freezing'].value_counts()

                      Vancouver  is_freezing
datetime
2012-10-01 12:00:00         NaN        False
2012-10-01 13:00:00  284.630000        False
2012-10-01 14:00:00  284.629041        False
2012-10-01 15:00:00  284.626998        False
2012-10-01 16:00:00  284.624955        False

False    43341
True      1912
Name: is_freezing, dtype: int64

The above code with list comprehension took only 0.5 seconds to run

#### 3. BONUS: if you still have time, try to do a pivot of the data in question 2 so you have the hourly data for all the cities and a flag for if it's freezing.

In [5]:
#Loading data again
temp_df = pd.read_csv("../Week11/temperatures/temperature.csv",parse_dates=['datetime'],index_col='datetime')
# Saving list of columns
city = temp_df.columns

In [6]:
# Creating boolean values for al temp data
bool_df = pd.DataFrame()

for c in temp_df.columns:
    bool_df[c] = temp_df[[c]]
    bool_df[[c][0]] = [True if x <273.15 else False for x in temp_df[c]]
    
bool_df.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2012-10-01 13:00:00,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2012-10-01 14:00:00,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2012-10-01 15:00:00,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2012-10-01 16:00:00,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
# Converting both df to multindex
temp_df.columns = pd.MultiIndex.from_product([temp_df.columns,["Temp"]])

bool_df.columns = pd.MultiIndex.from_product([bool_df.columns,["is_freezing"]])

In [8]:
# concatenating both dataframes

data_df = pd.concat([bool_df,temp_df],axis=1,sort=True)

In [9]:
data_df.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
,is_freezing,is_freezing,is_freezing,is_freezing,is_freezing,is_freezing,is_freezing,is_freezing,is_freezing,is_freezing,...,Temp,Temp,Temp,Temp,Temp,Temp,Temp,Temp,Temp,Temp
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,False,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
2012-10-01 13:00:00,False,False,False,False,False,False,False,False,False,False,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2012-10-01 14:00:00,False,False,False,False,False,False,False,False,False,False,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
2012-10-01 15:00:00,False,False,False,False,False,False,False,False,False,False,...,285.756824,288.326940,285.847789,287.231672,307.391513,304.281841,310.411539,304.4,304.4,303.5
2012-10-01 16:00:00,False,False,False,False,False,False,False,False,False,False,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

In [15]:
# Pivoting the data now and resetting boolean value

pivot_data_df = pd.pivot_table(data_df, index=['datetime'])

for c in city:
    pivot_data_df[(c,"is_freezing")] = pivot_data_df[(c,"is_freezing")].astype(bool)

pivot_data_df.head()

                    Albuquerque                 Atlanta              \
                           Temp is_freezing        Temp is_freezing
datetime
2012-10-01 12:00:00         NaN       False         NaN       False
2012-10-01 13:00:00  285.120000       False  294.030000       False
2012-10-01 14:00:00  285.154558       False  294.035341       False
2012-10-01 15:00:00  285.233952       False  294.049702       False
2012-10-01 16:00:00  285.313345       False  294.064063       False

                      Beersheba                  Boston              \
                           Temp is_freezing        Temp is_freezing
datetime
2012-10-01 12:00:00         NaN       False         NaN       False
2012-10-01 13:00:00  307.590000       False  287.170000       False
2012-10-01 14:00:00  307.590000       False  287.186092       False
2012-10-01 15:00:00  307.391513       False  287.231672       False
2012-10-01 16:00:00  307.145200       False  287.277251       False

                      Charlotte              ... San Francisco              \
                           Temp is_freezing  ...          Temp is_freezing
datetime                                     ...
2012-10-01 12:00:00         NaN       False  ...           NaN       False
2012-10-01 13:00:00  288.650000       False  ...    289.480000       False
2012-10-01 14:00:00  288.650172       False  ...    289.474993       False
2012-10-01 15:00:00  288.650582       False  ...    289.460618       False
2012-10-01 16:00:00  288.650991       False  ...    289.446243       False

                        Seattle             Tel Aviv District              \
                           Temp is_freezing              Temp is_freezing
datetime
2012-10-01 12:00:00         NaN       False               NaN       False
2012-10-01 13:00:00  281.800000       False        305.470000       False
2012-10-01 14:00:00  281.797217       False        304.310000       False
2012-10-01 15:00:00  281.789833       False        304.281841       False
2012-10-01 16:00:00  281.782449       False        304.238015       False

                        Toronto               Vancouver
                           Temp is_freezing        Temp is_freezing
datetime
2012-10-01 12:00:00         NaN       False         NaN       False
2012-10-01 13:00:00  286.260000       False  284.630000       False
2012-10-01 14:00:00  286.262541       False  284.629041       False
2012-10-01 15:00:00  286.269518       False  284.626998       False
2012-10-01 16:00:00  286.276496       False  284.624955       False

[5 rows x 72 columns]